@model Blog
@{
    ViewData["Title"] = "Delete Blog";
}

    <div class="blog-details-area pt-150 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-details">
                        <div class="blog-details-img">
                            <img src="~/img/blog/@Model.Image" alt="blog-details" style="width:767px;height:367px">
                        </div>
                        <div class="blog-details-content">
                            <h2>@Model.Title </h2>
                            <h6>By @Model.PostedBy  /  @Model.Date  /  <i class="fa fa-comments-o"></i> 4</h6>
                            <p>@Html.Raw(Model.Description)</p>
                            <p class="quote">@Html.Raw(Model.Quote)</p>
                        </div>
                    </div>
                </div>
                <form method="post">
                    <button type="submit" class="btn btn-danger mr-2">Delete</button>
                    <a asp-action="Index" class="btn btn-dark btn-icon-text">
                        Go Back
                        <i class="mdi mdi-keyboard-backspace btn-icon-append"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>

