@model EventVM
@{
    ViewData["Title"] = "Events";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center" style="background-image: url('@Url.Content("~/img/banner/"+Model.Background.Image)')!important">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / right side bar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area event-area three text-center pt-150 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    @foreach (Event item in Model.Events)
                    {
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-event mb-60">
                                <div class="event-img">
                                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="img/event/@item.Image" alt="event">
                                        <div class="course-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                    <div class="event-date">
                                        @{string[] words = @item.Date.Split(' ');}
                                        <h3>@words[0] @words[1].Substring(0,3)</h3>
                                    </div>
                                </div>
                                <div class="event-content text-left">
                                    <h4><a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                                    <ul>
                                        <li><span>time:</span> @item.Time</li>
                                        <li><span>venue</span> @item.Venue</li>
                                    </ul>
                                    <div class="event-content-right">
                                        <a class="default-btn" asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">join now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right text-left">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" class="search-field" autocomplete="off"/>
                                <ul class="list-group my-list-group" style="position:absolute;width:100%;z-index:99999">
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Course item in Model.Courses)
                            {
                                <li><a asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Blog item in Model.SideBlogs)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="~/img/blog/@item.Image" alt="post" style="width:95px;height:100px">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                    <p>By @item.PostedBy  /  @item.Date</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="Course" asp-action="Index" class="mr-10 mb-10">courses</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a asp-controller="Teacher" asp-action="Index" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a asp-controller="Event" asp-action="Index">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
