@model CourseVM
@{
    ViewData["Title"] = "Create New Course";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Course</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Course.Name"></label>
                                <input asp-for="@Model.Course.Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="@Model.Course.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Course.Photo"></label>
                                <input asp-for="@Model.Course.Photo" class="form-control" placeholder="Name">
                                <span asp-validation-for="@Model.Course.Photo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.Course.Description"></label>
                                <textarea asp-for="@Model.Course.Description" id="editor1"></textarea>
                                <span asp-validation-for="@Model.Course.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.CourseDetail.About"></label>
                                <textarea asp-for="@Model.CourseDetail.About" id="editor2"></textarea>
                                <span asp-validation-for="@Model.CourseDetail.About" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.CourseDetail.HowToApply"></label>
                                <textarea asp-for="@Model.CourseDetail.HowToApply" id="editor3"></textarea>
                                <span asp-validation-for="@Model.CourseDetail.HowToApply" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.CourseDetail.Certification"></label>
                                <textarea asp-for="@Model.CourseDetail.Certification" id="editor4"></textarea>
                                <span asp-validation-for="@Model.CourseDetail.Certification" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.StartDate"></label>
                                <input asp-for="@Model.CourseFeature.StartDate" class="form-control hasDatepicker" placeholder="StartingDate">
                                <span asp-validation-for="@Model.CourseFeature.StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.Duration"></label>
                                <input asp-for="@Model.CourseFeature.Duration" class="form-control" placeholder="Duration">
                                <span asp-validation-for="@Model.CourseFeature.Duration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.ClassDuration"></label>
                                <input asp-for="@Model.CourseFeature.ClassDuration" class="form-control" placeholder="Class Duration">
                                <span asp-validation-for="@Model.CourseFeature.ClassDuration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.SkillLevel"></label>
                                <input asp-for="@Model.CourseFeature.SkillLevel" class="form-control" placeholder="Skill Level">
                                <span asp-validation-for="@Model.CourseFeature.SkillLevel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.Language"></label>
                                <input asp-for="@Model.CourseFeature.Language" class="form-control" placeholder="Language">
                                <span asp-validation-for="@Model.CourseFeature.Language" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.Assesments"></label>
                                <input asp-for="@Model.CourseFeature.Assesments" class="form-control" placeholder="Assesments">
                                <span asp-validation-for="@Model.CourseFeature.Assesments" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.StudentCount"></label>
                                <input asp-for="@Model.CourseFeature.StudentCount" class="form-control" placeholder="Student Count">
                                <span asp-validation-for="@Model.CourseFeature.StudentCount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="@Model.CourseFeature.Fee"></label>
                                <input asp-for="@Model.CourseFeature.Fee" class="form-control" placeholder="Fee">
                                <span asp-validation-for="@Model.CourseFeature.Fee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-dark btn-icon-text">
                        Go Back
                        <i class="mdi mdi-keyboard-backspace btn-icon-append"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />;
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor1'))
                .catch(error => {
                    console.error(error);
                });
        ClassicEditor
        .create(document.querySelector('#editor2'))
        .catch(error => {
            console.error(error);
        });
        ClassicEditor
        .create(document.querySelector('#editor3'))
        .catch(error => {
            console.error(error);
        });
        ClassicEditor
        .create(document.querySelector('#editor4'))
        .catch(error => {
            console.error(error);
        });
    </script>
}

