@model CoursesVM
@{
    ViewData["Title"] = "Course Details";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center" style="background-image: url('@Url.Content("~/img/banner/"+Model.Background.Image)')!important">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/@Model.Course.Image" alt="courses-details" style="width:770px;height:411px">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Course.Name</h2>
                        <p>@Html.Raw(Model.Course.CourseDetail.About)</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Html.Raw(Model.Course.CourseDetail.About)</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Html.Raw(Model.Course.CourseDetail.HowToApply)</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p class="margin">@Html.Raw(Model.Course.CourseDetail.Certification)</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Course.CourseFeature.StartDate.ToString("dd MMMM, yyyy")</span></li>
                                <li>duration <span>@Model.Course.CourseFeature.Duration</span></li>
                                <li>class duration <span>@Model.Course.CourseFeature.ClassDuration hours</span></li>
                                <li>skill level <span>@Model.Course.CourseFeature.SkillLevel</span></li>
                                <li>language <span>@Model.Course.CourseFeature.Language</span></li>
                                <li>students <span>@Model.Course.CourseFeature.StudentCount</span></li>
                                <li>assesments <span>@Model.Course.CourseFeature.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Course.CourseFeature.Fee</h3>
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name</p>
                                    <input asp-for="@Model.Message.Name" id="name">
                                    <span asp-validation-for="@Model.Message.Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <p>Email</p>
                                    <input asp-for="@Model.Message.Email" id="email">
                                    <span asp-validation-for="@Model.Message.Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input asp-for="@Model.Message.Subject" id="subject">
                                    <span asp-validation-for="@Model.Message.Subject" class="text-danger"></span>
                                    <p>Message</p>
                                    <textarea asp-for="@Model.Message.Note" id="message" cols="15" rows="10"></textarea>
                                    <span asp-validation-for="@Model.Message.Note" class="text-danger"></span>
                                </div>
                            </div>
                            <button asp-controller="Contact" asp-action="Message" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" type="submit" style="background: #2C2B5E;color: #fff;text-transform: uppercase;font-family: 'Open Sans', sans-serif;padding: 8px 25px;
                            font-weight: 700;display: inline-block;">
                                <span>send message</span>
                            </button>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" class="search-field" autocomplete="off" />
                                <ul class="list-group my-list-group" style="position:absolute;width:100%;z-index:99999">
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Course item in Model.Courses)
                            {
                                <li><a asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Blog item in Model.SideBlogs)
                        {
                            <div class="single-post mb-30" style="display:flex">
                                <div class="single-post-img">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" style="float:none">
                                        <img src="~/img/blog/@item.Image" alt="post" style="width:95px;height:100px">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content" style="width:150px;height:100px;max-width:150px;max-height:150px">
                                    <h4><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
                                    <p>By @item.PostedBy  /  @item.Date</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a asp-controller="Course" asp-action="Index" class="mr-10 mb-10">courses</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a asp-controller="Teacher" asp-action="Index" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a asp-controller="Event" asp-action="Index">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

